<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Lying Leg Lifting Exercise</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .gif-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body class="bg-gray-900 text-white">
    <h1 class="text-3xl font-bold my-4 ml-10">Side Lying Leg Lifting Exercise</h1>
    <div id="videoContainer" class="flex border border-gray-700 rounded-lg overflow-hidden mx-12">
        <div class="flex-1">
            <img id="videoFeed" src="" width="640" height="480">
        </div>
        <div class="flex-1 p-4 border-l border-gray-700"> <!-- Added border-left -->
            <div class="mb-4 gif-container"> <!-- Margin bottom -->
                <img src="{{ url_for('static', filename='images/gifs/side_lying_leg_lifting.gif') }}" class="rounded-md mb-4" style="width:500px; height: 250px; border-radius: 4px;" alt="Exercise 4">
            </div>
            <hr class="my-4">
            <div class="mx-5">
                <h1 class="font-bold my-4">Instuctions</h1>
                <ol class="list-decimal">
                    <li>Start by lying on your side on an exercise mat, with your body in a straight line and your legs stacked on top of each other.</li>
                    <li>Prop yourself up on your elbow or rest your head on your bottom arm for support.</li>
                    <li>Engage your core muscles to stabilize your body.</li>
                    <li>Keep your top leg straight and slowly lift it upward as high as you comfortably can without rotating your hips or leaning backward.</li>
                    <li>Pause briefly at the top of the movement, focusing on squeezing your outer thigh and glute muscles.</li>
                    <li>Slowly lower your leg back down to the starting position with control.</li>
                    <li>Repeat the lifting motion for the desired number of repetitions, then switch to the other side and repeat.</li>
                    <li>Keep your movements controlled and avoid swinging your leg for momentum.</li>
                    <li>Perform the exercise with proper form to target and strengthen the muscles of your outer thighs, hips, and glutes.</li>
                </ol>
            </div>
        </div>
    </div>
    <form action="/home" method="get" class="mt-8 flex justify-center"> <!-- Added margin top and flex justify-center -->
        <button type="submit" class="border border-orange-500 hover:border-orange-600 text-orange-500 hover:text-orange-600 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Stop Exercise</button>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var videoFeed = document.getElementById('videoFeed');
            videoFeed.src = "{{ url_for('video_feed') }}";
        });
    </script>
</body>
</html>
