<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaPipe Pose Detection</title>
</head>
<body>
    <h1>MediaPipe Pose Detection</h1>
    <button id="Exercise1">Exercise1</button>
    <button id="Exercise2">Exercise2</button>

    <script>
        document.getElementById('Exercise1').onclick = function() {
            window.location.href = "exercise1";  // Redirect to exercise1.html
        };
        document.getElementById('Exercise2').onclick = function() {
            window.location.href = "exercise2";  // Redirect to exercise2.html
        };
    </script>
</body>
</html>
